/* NOTES
class . (MUTIPLE things)
between < > - nothing
id #   (ONE thing)
END OF NOTES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide   {
    display: none;
}

html, body  {
    height: 100%;
}

img {
    max-width: 100%;
}

body    {
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------- HEADER ------------- */

.mainHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    text-align: center;
}

.mainHeader h1  {
    font-size: 1.0rem;
    font-weight: bold;
    line-height: 1.2;
    color: orangered;
}

.mainHeader h2  {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 4;
}

.mainHeader p   {
    color: darkgray;
}

.header .container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ------------- MAIN PAGE ------------- */
.container  {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------- BUTTONS ------------- */
.buttons   {
    display: flex;
    flex-direction: row;
}

.btn    {
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    position: relative;
    margin: 60px;
    justify-content: space-between;
}

/* ------------- LIL BUTTON ------------- */
.lil-button {
    background: #000;
    color: #fff;
    border-radius: 100px;
    transition: transforom 0.3s ease;
}

.lil-button::after, .lil-button::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #000;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.lil-button:hover   {
    transform: translate(-12px, -12px);
}

.lil-button:hover::after   {
    transform: translate(6px, 6px);
}

.lil-button:hover::before   {
    transform: translate(12px, 12px);
}

/* ------------- CARSON BUTTON ------------- */
.car-button {
    background: orangered;
    color: #fff;
    border-radius: 100px;
    transition: transforom 0.3s ease;
}

.car-button::after, .car-button::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background: orangered;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.car-button:hover   {
    transform: translate(-12px, -12px);
}

.car-button:hover::after   {
    transform: translate(6px, 6px);
}

.car-button:hover::before   {
    transform: translate(12px, 12px);
}

@media (max-width: 768px) { 
    .header .container  {
        flex-direction: column;
        padding-top: 5px;
        text-align: center;
    }   

    .body .container    {
        display: block;
        text-align: center;
    }
}

/* ------------- TEAM BIOS ------------- */
